#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav{
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  box-sizing: border-box;
  background-color: grey;
  border: 1px solid red;
  border-radius: 10px;
  width:90vw;
  height:80px;
}
.nav-buttons{
  border: 1px solid magenta;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  .nav-button{
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    color:black;
    margin-top: 5px;
  }
.error-msg{
  margin:50px auto;
}
.main-container{
  border:1px solid blue;
  height:80vh;
  overflow:scroll;
  margin:20px 0 0 0;
}
.preview-image{
  width:60vw;
}
.article-preview{
  width:100%;
  border:1px solid green;
  margin:10px 0 10px -23px;
}
.back-button{
  margin:10px auto;
}
