@media (prefers-color-scheme:dark)
{
body{
  background-color: #242424;
color:aliceblue;
}

@media only  screen and (max-width:600px){
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: start;
  
}


}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border:1px dotted magenta;
height:50vh;
padding:0;
}

.logged-in-as{
  margin:0 auto;
}


.error-msg{
  margin:50px auto;
}
.main-container{
  margin:20px auto 0 auto;
  width:90vw;
  border:1px solid rgb(22, 22, 165);
  height:78vh;
  overflow:auto;
  
  
}
.preview-image{
  width:40vw;
}
.preview-button{
  margin:1px auto 10px auto;
}
.article-preview{
  width:80vw;
  border:1px solid green;

  margin:10px auto 10px auto;
}
.back-button{
  margin:10px auto;
}
.list{
  box-sizing: border-box;
  border:3px dashed white;
  display:flex;
  flex-direction: column;
  padding:0;
  margin:0 auto;
}
.main-article{
  display:flex;
  flex-direction: column;
border:2px double  red;
overflow:scroll;
}
.article-title{
  border:2px dotted green;
}
.article-img{
  border:2px dotted blue;
}
.author-created{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  height:fit-content;
  border:2px solid green;
  align-items: center;
  flex-wrap: wrap;
}
.mono{
  padding:2px;
   font-family:monospace;
   color:rgb(169, 77, 89);
}
.article-body{
  line-height: 1.5;
  /*line width??*/
}
.comments-label{
  display:flex;
  border:1px solid blue;
  justify-content: flex-start;
}
.comment{
  border:2px dashed rgb(90, 224, 206);
  margin:10px auto;
  width:100%;
}
.comments-list{
  border:2px solid magenta;
  height:fit-content;
  overflow:auto;
}
.vote-button{
  padding:0;
}
.no-comments{
  border:2px dashed green;
}
.add-comment-button{
  border:1px solid red;
  padding:3px;
  width:20vw;
  margin:0 auto;
}
.voting{
  display:flex;
  flex-direction: row;
  width:15vw;
  justify-content: space-around;
}
.mod{
  position:relative;
  top:-20vh;
border:2px dashed red;
  width:100%;
  background-color: #242424;
  padding:10px auto;
}
.text-area{
  width:80vw;
  height:10vh;
}
.submit-cancel{
  margin:10px;
  padding:8px
}
.success{
  display:flex;
  background-color: azure;
  color:black;
  position:absolute;
  top:50%;
  left:40vw;
  padding:10px;
  width: 20vh;
  height:10vh;
  
  align-items: center;
  justify-content: center;
}
.sort-bar{
  display:flex;
  flex-direction:column;
  border:2px solid yellow;
  margin:10px auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height:fit-content
}
}
@media only screen and (min-width:600px){

  #root {
    display:grid;
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    align-items: start;
    grid-template-columns: 60vw 30vw;
    grid-template-rows: 20vh 60vh 10vh;
  }
  
  

  body{

    box-sizing: border-box;
    border:1px dotted rgb(240, 225, 240);

  padding:0;
height:50vh;

  }
  
  .logged-in-as{
    margin:0 auto;
    align-self:center;
  }
  .header{
    grid-column:1/3;
    grid-row:1;
    border:1px solid red;

 
  }
  .nav-bar{
    width:80%;
  }
  
  
  /* .error-msg{
    margin:50px auto;
  } */
  .main-container{
grid-column:1/1 ;
grid-row: 2/2;
    border:1px solid rgb(238, 238, 246);
  }
  .article-preview{
   width:40vw;
    border:1px solid green;
  
    margin:10px auto 10px auto;
  } 
    
  /* }
  .preview-image{
    width:40vw;
  }
  .preview-button{
    margin:1px auto 10px auto;
  }

  .back-button{
    margin:10px auto;
  }
  .list{
    grid-area:next;
    box-sizing: border-box;
    border:3px dashed white;
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0 auto;
  }
  .main-article{
    grid-area:main;
    display:flex;
    flex-direction: column;
  border:2px double  red;
  overflow:scroll;
  }
  .article-title{
    border:2px dotted green;
  }
  .article-img{
    border:2px dotted blue;
  }
  .author-created{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    height:fit-content;
    border:2px solid green;
    align-items: center;
    flex-wrap: wrap;
  }
  .mono{
    padding:2px;
     font-family:monospace;
     color:rgb(169, 77, 89);
  }
  .article-body{
    line-height: 1.5;

  }
  .comments-label{
    display:flex;
    border:1px solid blue;
    justify-content: flex-start;
  }
  .comment{
    border:2px dashed rgb(90, 224, 206);
    margin:10px auto;
    width:100%;
  }
  .comments-list{
    border:2px solid magenta;
    height:30vh;
    overflow:auto;
  }
  .vote-button{
    padding:0;
  }
  .no-comments{
    border:2px dashed green;
  }
  .add-comment-button{
    border:1px solid red;
    padding:3px;
    width:20vw;
    margin:0 auto;
  }
  .voting{
    display:flex;
    flex-direction: row;
    width:15vw;
    justify-content: space-around;
  }
  .mod{
    position:relative;
    top:-20vh;
  border:2px dashed red;
    width:100%;
    background-color: #242424;
    padding:10px auto;
  }
  .text-area{
    width:80vw;
    height:10vh;
  }
  .submit-cancel{
    margin:10px;
    padding:8px
  }
  .success{
    display:flex;
    background-color: azure;
    color:black;
    position:absolute;
    top:50%;
    left:40vw;
    padding:10px;
    width: 20vh;
    height:10vh;
    
    align-items: center;
    justify-content: center;
  }
  .sort-bar{
    display:flex;
    border:2px solid yellow;
    margin:10px auto;
    justify-content: space-evenly;
  } */
} 
