#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border:1px dotted magenta;
height:50vh;
padding:0;
}
nav{
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  box-sizing: border-box;
  background-color: grey;
  border: 1px solid red;
  border-radius: 10px;
  width:90vw;
  height:8vh;
}
.logged-in-as{
  margin:0 auto;
}
.nav-buttons{
  border: 1px solid magenta;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  /*conditional classnames possibly */
  .nav-button{
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    color:black;
    margin-top: 5px;
  }
.error-msg{
  margin:50px auto;
}
.main-container{
  margin:20px auto 0 auto;
  width:90vw;
  border:1px solid blue;
  height:78vh;
  overflow:scroll;
  
}
.preview-image{
  width:40vw;
}
.preview-button{
  margin:1px auto 10px auto;
}
.article-preview{
  width:80vw;
  border:1px solid green;

  margin:10px auto 10px auto;
}
.back-button{
  margin:10px auto;
}
.list{
  box-sizing: border-box;
  border:3px dashed white;
  display:flex;
  flex-direction: column;
  
  padding:0;
  margin:0 auto;
}
.main-article{
  display:flex;
  flex-direction: column;
border:2px double  red;
overflow:scroll;
}
.article-title{
  border:2px dotted green;
}
.article-img{
  border:2px dotted blue;
}
.author-created{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  height:5vh;
  border:2px solid green;
  align-items: center;
}
.mono{

  padding:2px;
   font-family:monospace;
   color:rgb(169, 77, 89);
}
.article-body{
  line-height: 1.5;
  /*line width??*/
}
.comments-label{
  display:flex;
  border:1px solid blue;
  justify-content: flex-start;
}
.comment{
  border:2px dashed rgb(90, 224, 206);
  margin:10px auto;
}
.vote-button{
  padding:0;
}

/* @media only  screen and (min-width:600px){
/*conditional classNames etc*/
/*
body{
  display:grid;
  box-sizing: border-box;
  border:1px solid magenta;
height:50vh;
padding:0;
grid-template-columns: 20vw auto;
grid-template-rows: 10vh auto;
git-template-aread:"nav nav" "comments main" // etc
}
nav{
  //grid-area"nav"; etc
  grid-row: 1;
  grid-column: 1/2;
  display: flex; // can still be flex...
  flex-direction: column;
  justify-items: space-around;
  box-sizing: border-box;
  background-color: grey;
  border: 1px solid red;
  border-radius: 10px;
  width:90vw;
  height:8vh;
}
.nav-buttons{
  border: 1px solid magenta;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  .nav-button{
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    color:black;
    margin-top: 5px;
  }
.error-msg{
  margin:50px auto;
}
.main-container{
  margin:20px auto;
  width:90vw;
  border:1px solid blue;
  height:80vh;
  overflow:scroll;
  
}
.preview-image{
  width:40vw;
}
.article-preview{
  width:80vw;
  border:1px solid green;
  margin:10px 0 10px -23px;
}

} */